.fa-heart
  &:hover
    &:before
      background: linear-gradient($primary-color, $secondary-color)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      font-weight: 900
