// Container

.menu-item
  @include card-shadow
  border-radius: 10px
  background-color: #fff
  height: $card-height
  margin-bottom: 20px
  overflow: hidden
  &__label
    cursor: pointer
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
  & input[type='checkbox']
    display: none

  // Text part
  &__details
    min-width: 0
    padding: $card-padding
    height: $card-height - $card-padding * 2
    p
      width: 100%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      margin: 0
  &__name
    @include font-weight("bold")
    font-size: 1rem
  &__description
    @include font-weight("thin")
    font-size: .8rem

  // Moving part (price and checkbox)
  &__anim-block
    flex-shrink: 0
    width: $anim-block-width
    @include flexbox(row, nowrap, space-between, center)
    transform: translateX($anim-block-width/2)
    transition: all 600ms cubic-bezier(.32,0,.07,1)
  &__price
    width: 50%
    font-size: .8rem
    text-align: center
    align-self: flex-end
    padding: $card-padding 0
    &::after
      content: "€"
  &__checkbox
    width: 50%
    @include custom-checkbox
    &::before
      transform: rotate(-360deg)
      transition: transform 500ms 100ms

  // Animation
    //On hover
  &:hover &__anim-block
    transform: translateX(0)
  &:hover &__checkbox
    &::before
      transform: rotate(0)
    // On checked
  & input[type='checkbox']:checked + &__anim-block
    transform: translateX(0)
  & input[type='checkbox']:checked + &__anim-block &__checkbox
    &::before
      transform: rotate(0)
