// Style
  
@mixin card-shadow($h:1px, $v:5px, $b:5px, $c: darken($grey, 5%))
  box-shadow: $h $v $b $c

@mixin font-weight($value)
  font-weight: map-get($font-weights, $value)

// Display

@mixin align-in-grid($v: center, $h: center)
  align-self: $h
  justify-self: $v

@mixin flexbox($direction: row, $wrap: nowrap, $justify: center, $align: center)
  display: flex
  flex-flow: $direction $wrap
  justify-content: $justify
  align-items: $align

// Complex elements

@mixin menu-category-underline
  position: relative
  &::before
    content: ""
    position: absolute
    left: 0
    bottom: -.5rem
    width: 40px
    height: 0px
    border-bottom: 3px solid $tertiary-color

@mixin custom-checkbox($state: hidden)
  // @if ($state == hidden)
  //   transform: translateX(55px)
  //   &::before
  //     transform: rotate(-360deg)
  // @else
  //   transform: translateX(0)
  //   &::before
  //     transform: rotate(0deg)

  width: 55px
  height: 60px
  background-color: $tertiary-color
  color: #fff
  cursor: pointer
  @include flexbox
  &::before
    font-size: 1.3rem
    transition: transform 500ms 100ms

// Breakpoints

@mixin tablet-only
  @media (min-width: 700px)
    @content

@mixin laptop-only
  @media (min-width: 1024px)
    @content

@mixin desktop-only
  @media (min-width: 1440px)
    @content
