@font-face
  font-family: Shrikhand
  src: url('../assets/fonts/Shrikhand/Shrikhand-Regular.ttf')

@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf')

@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf')
  font-weight: bold

@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto/Roboto-Black.ttf')
  font-weight: 900

@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf')
  font-weight: 600

@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto/Roboto-Light.ttf')
  font-weight: 200

@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto/Roboto-Thin.ttf')
  font-weight: 100

$font-stack: Roboto, Helvetica, sans-serif
$font-titles: Shrikhand, Helvetica, sans-serif
$primary-color: #9356DC //purple
$secondary-color: #FF79DA //pink
$tertiary-color: #99E2D0 //green
$grey: #f2f2f2
$font-weights: ("normal": normal, "bold": bold, "medium": 600, "black": 900, "light": 200, "thin": 100)

$spinner-delay: 150ms
$spinner-duration: 3s

$card-padding: 10px
$card-height: 60px
$anim-block-width: 100px
